.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  gap: 0px;
}

.side-panel {
  width: 33vw;
  display: flex;
  flex-direction: column;
}

.form-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}

.form-container {
  width: 33vw;  
}

.journal-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 50px;
}

.journal-form input,
.journal-form textarea {
  border-radius: 10px;
  min-height: 30px;
  padding: 5px;
}

.journal-form.not-ok input,
.journal-form.not-ok textarea {
  border-color: red;
  border-width: 3px;
}